.post-tags {
    h6 {
        color: #505050;
    }
    ul {
        li {
            background-color: #f0f0ee;
            font-weight: 700;
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 5px 10px;

            a {
                color: #505050;
            }
        }
    }
}